In [2]:
import pandas as pd
from pydataset import data
import seaborn as sns
from acquire import get_iris_data,get_telco_data,get_titantic_data

## 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = data('iris')

print the first 3 rows

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

print the number of rows and columns (shape)

In [4]:
df_iris.shape

(150, 5)

print the column names

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

print the data type of each column

In [6]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [7]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
# Scaling does not seem to be required as all data is in cm

## 5. Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

In [9]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1kihBDi60lQX47cLTxNbLjnOnil0kLu922K7i5LM9hxE/edit#gid=1023018493'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google_sheets= pd.read_csv(csv_export_url)

assign the first 100 rows to a new dataframe, df_excel_sample

In [10]:
df_google_sheets_sample = df_google_sheets.head(100)

print the number of rows of your original dataframe

In [11]:
df_google_sheets.shape[0]

7049

print the first 5 column names

In [12]:
df_google_sheets.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

print the column names that have a data type of object

In [13]:
df_google_sheets.select_dtypes(include = 'object').columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

compute the range for each of the numeric variables.

In [14]:
df_google_sheets.select_dtypes(include = 'number').max()-df_google_sheets.select_dtypes(include = 'number').min()

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
dtype: float64

## 6. Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [15]:
df_excel = pd.read_excel('innis_spreadsheet_exercises_marder.xlsx')

assign the first 100 rows to a new dataframe, df_excel_sample

In [16]:
df_excel_sample = df_excel.head(100)

print the number of rows of your original dataframe

In [17]:
df_excel.shape[0]

7049

print the first 5 column names

In [18]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

print the column names that have a data type of object

In [19]:
df_excel.select_dtypes('object').columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

compute the range for each of the numeric variables.

In [20]:
df_excel.select_dtypes(include = 'number').max()-df_excel.select_dtypes(include = 'number').min()

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
dtype: float64

## 7. Read the data from this google sheet into a dataframe, df_google

In [21]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)

print the first 3 rows

In [22]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

print the number of rows and columns

In [23]:
df_google.shape

(891, 12)

print the column names

In [24]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

print the data type of each column

In [25]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

print the summary statistics for each of the numeric variables

In [26]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

print the unique values for each of your categorical variables

In [27]:
for col in df_google[df_google.columns[df_google.nunique()<10]]:
    print(col,': ',df_google[col].unique())

Survived :  [0 1]
Pclass :  [3 1 2]
Sex :  ['male' 'female']
SibSp :  [1 0 3 4 2 5 8]
Parch :  [0 1 2 5 3 4 6]
Embarked :  ['S' 'C' 'Q' nan]

# Data Preparation Exercises

### Prepare Iris Data

In [3]:
iris = get_iris_data()

Using cached data

In [4]:
iris.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [5]:
iris = iris.drop(columns=['species_id','measurement_id'])

In [8]:
dummy_df = pd.get_dummies(iris[['species_name']], dummy_na=False, drop_first=[True])

In [11]:
iris = pd.concat([iris, dummy_df], axis = 1)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species_name,species_name_versicolor,species_name_virginica,species_name_versicolor,species_name_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0,0,0

In [67]:
def prep_iris(iris):
    iris = iris.drop(columns=['species_id','measurement_id'])
    # dummy_df = pd.get_dummies(iris[['species_name']], dummy_na=False, drop_first=[True])
    # iris = pd.concat([iris, dummy_df], axis = 1)
    # iris = iris.drop(columns=['species_name'])

    return iris

In [68]:
iris = prep_iris(get_iris_data())

Using cached data

In [69]:
iris

     sepal_length  sepal_width  petal_length  petal_width species_name
0             5.1          3.5           1.4          0.2       setosa
1             4.9          3.0           1.4          0.2       setosa
2             4.7          3.2           1.3          0.2       setosa
3             4.6          3.1           1.5          0.2       setosa
4             5.0          3.6           1.4          0.2       setosa
5             5.4          3.9           1.7          0.4       setosa
6             4.6          3.4           1.4          0.3       setosa
7             5.0          3.4           1.5          0.2       setosa
8             4.4          2.9           1.4          0.2       setosa
9             4.9          3.1           1.5          0.1       setosa
10            5.4          3.7           1.5          0.2       setosa
11            4.8          3.4           1.6          0.2       setosa
12            4.8          3.0           1.4          0.1       setosa
13            4.3          3.0           1.1          0.1       setosa
14            5.8          4.0           1.2          0.2       setosa
15            5.7          4.4           1.5          0.4       setosa
16            5.4          3.9           1.3          0.4       setosa
17            5.1          3.5           1.4          0.3       setosa
18            5.7          3.8           1.7          0.3       setosa
19            5.1          3.8           1.5          0.3       setosa
20            5.4          3.4           1.7          0.2       setosa
21            5.1          3.7           1.5          0.4       setosa
22            4.6          3.6           1.0          0.2       setosa
23            5.1          3.3           1.7          0.5       setosa
24            4.8          3.4           1.9          0.2       setosa
25            5.0          3.0           1.6          0.2       setosa
26            5.0          3.4           1.6          0.4       setosa
27            5.2          3.5           1.5          0.2       setosa
28            5.2          3.4           1.4          0.2       setosa
29            4.7          3.2           1.6          0.2       setosa
30            4.8          3.1           1.6          0.2       setosa
31            5.4          3.4           1.5          0.4       setosa
32            5.2          4.1           1.5          0.1       setosa
33            5.5          4.2           1.4          0.2       setosa
34            4.9          3.1           1.5          0.2       setosa
35            5.0          3.2           1.2          0.2       setosa
36            5.5          3.5           1.3          0.2       setosa
37            4.9          3.6           1.4          0.1       setosa
38            4.4          3.0           1.3          0.2       setosa
39            5.1          3.4           1.5          0.2       setosa
40            5.0          3.5           1.3          0.3       setosa
41            4.5          2.3           1.3          0.3       setosa
42            4.4          3.2           1.3          0.2       setosa
43            5.0          3.5           1.6          0.6       setosa
44            5.1          3.8           1.9          0.4       setosa
45            4.8          3.0           1.4          0.3       setosa
46            5.1          3.8           1.6          0.2       setosa
47            4.6          3.2           1.4          0.2       setosa
48            5.3          3.7           1.5          0.2       setosa
49            5.0          3.3           1.4          0.2       setosa
50            7.0          3.2           4.7          1.4   versicolor
51            6.4          3.2           4.5          1.5   versicolor
52            6.9          3.1           4.9          1.5   versicolor
53            5.5          2.3           4.0          1.3   versicolor
54            6.5          2.8           4.6          1.5   versicolor
55            5.7          2.8           4.5          1.3   versicolor
56            6.3          3.3           4.7          1.6   versicolor
57            4.9          2.4           3.3          1.0   versicolor
58            6.6          2.9           4.6          1.3   versicolor
59            5.2          2.7           3.9          1.4   versicolor
60            5.0          2.0           3.5          1.0   versicolor
61            5.9          3.0           4.2          1.5   versicolor
62            6.0          2.2           4.0          1.0   versicolor
63            6.1          2.9           4.7          1.4   versicolor
64            5.6          2.9           3.6          1.3   versicolor
65            6.7          3.1           4.4          1.4   versicolor
66            5.6          3.0           4.5          1.5   versicolor
67            5.8          2.7           4.1          1.0   versicolor
68            6.2          2.2           4.5          1.5   versicolor
69            5.6          2.5           3.9          1.1   versicolor
70            5.9          3.2           4.8          1.8   versicolor
71            6.1          2.8           4.0          1.3   versicolor
72            6.3          2.5           4.9          1.5   versicolor
73            6.1          2.8           4.7          1.2   versicolor
74            6.4          2.9           4.3          1.3   versicolor
75            6.6          3.0           4.4          1.4   versicolor
76            6.8          2.8           4.8          1.4   versicolor
77            6.7          3.0           5.0          1.7   versicolor
78            6.0          2.9           4.5          1.5   versicolor
79            5.7          2.6           3.5          1.0   versicolor
80            5.5          2.4           3.8          1.1   versicolor
81            5.5          2.4           3.7          1.0   versicolor
82            5.8          2.7           3.9          1.2   versicolor
83            6.0          2.7           5.1          1.6   versicolor
84            5.4          3.0           4.5          1.5   versicolor
85            6.0          3.4           4.5          1.6   versicolor
86            6.7          3.1           4.7          1.5   versicolor
87            6.3          2.3           4.4          1.3   versicolor
88            5.6          3.0           4.1          1.3   versicolor
89            5.5          2.5           4.0          1.3   versicolor
90            5.5          2.6           4.4          1.2   versicolor
91            6.1          3.0           4.6          1.4   versicolor
92            5.8          2.6           4.0          1.2   versicolor
93            5.0          2.3           3.3          1.0   versicolor
94            5.6          2.7           4.2          1.3   versicolor
95            5.7          3.0           4.2          1.2   versicolor
96            5.7          2.9           4.2          1.3   versicolor
97            6.2          2.9           4.3          1.3   versicolor
98            5.1          2.5           3.0          1.1   versicolor
99            5.7          2.8           4.1          1.3   versicolor
100           6.3          3.3           6.0          2.5    virginica
101           5.8          2.7           5.1          1.9    virginica
102           7.1          3.0           5.9          2.1    virginica
103           6.3          2.9           5.6          1.8    virginica
104           6.5          3.0           5.8          2.2    virginica
105           7.6          3.0           6.6          2.1    virginica
106           4.9          2.5           4.5          1.7    virginica
107           7.3          2.9           6.3          1.8    virginica
108           6.7          2.5           5.8          1.8    virginica
109           7.2          3.6           6.1          2.5    virginica
110           6.5          3.2           5.1          2.0    virginica
111           6.4          2.7           5.3          1.9    virginica
112           6.8          3.0           5.5          2.1    virginica
113           5.7          2.5           5.0          2.0    virginica
114           5.8          2.8           5.1          2.4    virginica
115           6.4          3.2           5.3          2.3    virginica
116           6.5          3.0           5.5          1.8    virginica
117           7.7          3.8           6.7          2.2    virginica
118           7.7          2.6           6.9          2.3    virginica
119           6.0          2.2           5.0          1.5    virginica
120           6.9          3.2           5.7          2.3    virginica
121           5.6          2.8           4.9          2.0    virginica
122           7.7          2.8           6.7          2.0    virginica
123           6.3          2.7           4.9          1.8    virginica
124           6.7          3.3           5.7          2.1    virginica
125           7.2          3.2           6.0          1.8    virginica
126           6.2          2.8           4.8          1.8    virginica
127           6.1          3.0           4.9          1.8    virginica
128           6.4          2.8           5.6          2.1    virginica
129           7.2          3.0           5.8          1.6    virginica
130           7.4          2.8           6.1          1.9    virginica
131           7.9          3.8           6.4          2.0    virginica
132           6.4          2.8           5.6          2.2    virginica
133           6.3          2.8           5.1          1.5    virginica
134           6.1          2.6           5.6          1.4    virginica
135           7.7          3.0           6.1          2.3    virginica
136           6.3          3.4           5.6          2.4    virginica
137           6.4          3.1           5.5          1.8    virginica
138           6.0          3.0           4.8          1.8    virginica
139           6.9          3.1           5.4          2.1    virginica
140           6.7          3.1           5.6          2.4    virginica
141           6.9          3.1           5.1          2.3    virginica
142           5.8          2.7           5.1          1.9    virginica
143           6.8          3.2           5.9          2.3    virginica
144           6.7          3.3           5.7          2.5    virginica
145           6.7          3.0           5.2          2.3    virginica
146           6.3          2.5           5.0          1.9    virginica
147           6.5          3.0           5.2          2.0    virginica
148           6.2          3.4           5.4          2.3    virginica
149           5.9          3.0           5.1          1.8    virginica

## Use Titantic dataset

In [18]:
df = get_titantic_data()

Using cached data

In [20]:
df = df.drop(columns=['passenger_id','embarked','deck','class','age'])

In [41]:
def prep_titantic(df):
    df = df.drop(columns=['passenger_id','embarked','deck','class','age'])
    dummy_df = pd.get_dummies(df[['sex','embark_town']], dummy_na=False, drop_first=True)
    df = pd.concat([df,dummy_df], axis = 1)
    
    return df.drop(columns=['sex','embark_town'])

## Use Telco Dataset

In [209]:
df = get_telco_data()

Using cached data

In [212]:
df.shape

(7043, 24)

In [191]:
df.columns

Index(['payment_type_id', 'internet_service_type_id', 'contract_type_id',
       'customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing', 'monthly_charges',
       'total_charges', 'churn', 'contract_type', 'internet_service_type',
       'payment_type'],
      dtype='object')

In [192]:
df = df.drop(columns=['payment_type_id','internet_service_type_id','contract_type_id'])

In [195]:
catcol = df.columns[(df.nunique()<5)&(df.dtypes == 'object')]

In [196]:
catcol

Index(['gender', 'partner', 'dependents', 'phone_service', 'multiple_lines',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'paperless_billing', 'churn',
       'contract_type', 'internet_service_type', 'payment_type'],
      dtype='object')

In [200]:
dummy_df = pd.get_dummies(df[catcol], dummy_na=False, drop_first=True)

In [201]:
dummy_df

,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,...,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,1,1,1,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,0,1
1,1,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,0,0,1,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,1,0
3,1,1,0,1,0,0,0,0,0,1,...,1,1,1,0,0,1,0,0,1,0
4,0,1,0,1,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
7039,1,1,0,1,0,1,0,0,0,0,...,1,1,1,0,0,1,0,0,1,0
7040,1,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
7041,1,1,1,1,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
7042,1,1,1,0,1,0,0,1,0,1,...,1,0,0,0,1,0,0,0,1,0

In [202]:
df = pd.concat([df,dummy_df],axis=1)

In [203]:
df.shape

(7043, 48)

In [204]:
df = df.drop(columns=catcol)

In [205]:
df.shape

(7043, 32)

In [213]:
def prep_telco(df):
    
    df = df.dropna()
    df = df.drop(columns=['payment_type_id','internet_service_type_id','contract_type_id'])
    catcol = df.columns[(df.nunique()<5)&(df.dtypes == 'object')]
    dummy_df = pd.get_dummies(df[catcol], dummy_na=False, drop_first=True)
    df = pd.concat([df,dummy_df],axis=1)
    df = df.drop(columns=catcol)
    
    return df

In [215]:
prep_telco(get_telco_data())

Using cached data

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,...,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0002-ORFBO,0,9,65.60,593.3,0,1,1,1,0,...,0,1,0,1,0,0,0,0,0,1
1,0003-MKNFE,0,9,59.90,542.4,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2,0004-TLHLJ,0,4,73.90,280.85,1,0,0,1,0,...,0,1,1,0,0,1,0,0,1,0
3,0011-IGKFF,1,13,98.00,1237.85,1,1,0,1,0,...,1,1,1,0,0,1,0,0,1,0
4,0013-EXCHZ,1,3,83.90,267.4,0,1,0,1,0,...,0,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,0,13,55.15,742.9,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
7039,9992-RRAMN,0,22,85.10,1873.7,1,1,0,1,0,...,1,1,1,0,0,1,0,0,1,0
7040,9992-UJOEL,0,2,50.30,92.75,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7041,9993-LHIEB,0,67,67.85,4627.65,1,1,1,1,0,...,1,0,0,0,1,0,0,0,0,1
7042,9995-HOTOH,0,63,59.00,3707.6,1,1,1,0,1,...,1,0,0,0,1,0,0,0,1,0